.header {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px 39px 0 43px;
  width: 100%;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee0e5;

  &__title {
    color: #111112;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 24px;

  &__notification {
    object-fit: cover;
    width: 20px;
    height: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  &__avatar {
    object-fit: cover;
    width: 32px;
    height: 32px;
    border-radius: 50px;

    &:hover {
      cursor: pointer;
    }
  }
}
