@import '../../../styles/variables.scss';

.AuthHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  min-height: 100vh;
  padding: 12px;
  margin: 0 auto;

  &__logo {
    max-width: 100%;
    height: 80px;
    margin-bottom: 44px;
  }
  &__title {
    color: $black;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px; /* 160% */
    margin-bottom: 32px;
  }
}
