@import '../../../styles/variables.scss';

.button {
  display: flex;
  width: 100%;
  min-height: 56px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  background: $violet;
  border: none;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;

  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    background-color: $violet-dark;
  }
}
