.dropdown {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 38px;

  &__label {
    color: #afb7d3;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
  }

  &__select {
    height: 38px;
    width: 140px;

    padding: 4px 16px 4px 14px;
    border-radius: 6px;
    border: 1px solid #e4e7ed;

    color: #3b4360;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    &:focus {
      outline: none;
    }
  }
}
