@import '../../../styles/variables.scss';

.DashButton {
  min-width: 150px;
  max-width: 250px;
  display: flex;
  border-radius: 6px;
  border: none;
  background: #7101ff;
  padding: 7px 16px;

  align-items: center;
  gap: 6px;

  &__icon {
    width: 19px;
    height: 19px;
  }

  &__text {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
  }

  &:hover {
    cursor: pointer;
    background-color: $violet-dark;
  }
}
