.search__wrapper {
  display: flex;
  width: 236px;
  height: 38px;
  padding: 8px 8px 8px 14px;
  align-items: center;
  gap: 10px;

  border-radius: 6px;
  border: 1px solid #e4e7ed;
  background: #fff;
}

.search__icon {
  width: 16px;
  height: 16px;
}

.search__input {
  width: 100%;
  border: none;

  color: #000;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */

  &:focus {
    outline: none;
  }
}
