@import '../../styles/variables.scss';

.sidebar {
  display: flex;

  flex-direction: column;
  background-color: #3f1e85;
  min-width: 260px;
  max-width: 260px;
  min-height: 100vh;
  padding-bottom: 20px;

  &__header {
    display: flex;
    width: 100%;
    min-height: 72px;
    padding: 14px 31px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
  &__logo {
    max-width: 100%;
    height: 43px;
  }

  &__content {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
  }
}
