@import '../../../styles/variables.scss';
.link__wrapper {
  margin-top: 8px;
  padding: 16px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: $gray-900;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

.link__wrapper_violet {
  margin-top: 0px;
  padding: 0;
  width: auto;
  width: 100%;
  & .link {
    padding: 16px 0px;
    text-align: center;
    width: 100%;
    background: $violet;
    color: $white;

    &:hover {
      background-color: $violet-dark;
    }
  }
}
