@import '../../../styles/variables.scss';
.checkboxComponent__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 2px;

  & input {
    width: 20px;
    height: 20px;
  }
  & label {
    color: $gray-700;
    font-family: 'Lexend';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }
}
