@import '../../../styles/variables.scss';

.inputBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  & label {
    color: $gray-700;
    font-size: 14px;

    line-height: 24px; /* 171.429% */
  }

  & input {
    width: 100%;
    color: $black;
    min-height: 48px;

    font-size: 15px;
    line-height: 24px;
    padding: 11px 15px;
    border: 1px solid $gray-300;
    background: $white;

    transition: all 0.5s;

    &:hover,
    &:focus {
      outline: none;
      border: 1px solid $gray-700;
      background: $gray-100;
    }
  }

  & span {
    color: var(--system-error, #da1b41);

    font-size: 12px;
    line-height: 16px; /* 133.333% */
  }
}

.inputBlock_error {
  & label {
    color: #da1b41;
  }

  & input {
    border-color: #da1b41;
    &:hover,
    &:focus {
      border-color: #da1b41;
    }
  }
}
