@import '../../../styles/variables.scss';
.tab__wrapper {
  width: 100%;

  border-left: 4px solid rgba(255, 255, 255, 0);
}

.tab {
  display: flex;
  align-items: center;
  padding: 16px 20px 16px 28px;
  min-height: 52px;

  gap: 12px;
  text-decoration: none;
  color: $white;

  &__icon {
    width: 18px;
  }

  &__text {
    color: $white;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
  }
}

.tab_active {
  border-color: $white;
  background-color: $violet-dark;
}

.tab_inactive {
  &:hover {
    transition: background-color 0.3s ease-in;
    background-color: $violet-dark;
  }
}
