@import '../../../styles/variables.scss';

.authForm,
.authContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 32px;

  &__text {
    color: $gray-700;
    font-size: 19px;
    line-height: 32px; /* 168.421% */
  }
}

.authContent__text {
  text-align: center;
  margin-top: -16px;
}
